<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MyMarket</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
<header th:insert="blocks/header.html :: header "></header>
<div class="container-fluid">
    <div class="row min-vh-100 flex-column  flex-md-row">
        <navbar th:insert="blocks/navbar.html :: navbar" class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark"
                style="width: 280px;"></navbar>
        <div class="col">
            <div class="container mt-5">
                <h1>Add product</h1>
                <form th:action="@{/product/add}" method="post" enctype="multipart/form-data">
                    <input type="text" name="name" placeholder="enter name" class="form-control"><br>
                    <input type="text" name="weight" placeholder="enter weihgt" class="form-control"><br>
                    <input type="text" name="price" placeholder="enter price" class="form-control"><br>
                    <input type="text" name="specification" placeholder="enter specification" class="form-control"><br>
                    <input type="file" name="photo"><br><br>

<!--                    <select class="selectpicker form-control form-group" name="trademarkId">-->
<!--                        <option value="-1">Trademark</option>-->
<!--                        <option th:each="el : ${trademark}"  th:value="${el.getId()}" th:text="${el.getName()}"></option>-->
<!--                    </select>-->
<!--                    <br>-->
<!--                    <select class="selectpicker form-control form-group" name="appointmentsId">-->
<!--                        <option value="-1">appointments</option>-->
<!--                        <option th:each="appointments : ${appointments}"  th:value="${appointments.getId()}" th:text="${appointments.getName()}"></option>-->
<!--                    </select>-->
                    <button th:type="submit" class="btn btn-success">Add product</button>
                </form>
<!--                <br><br>-->
<!--                <h1>Add trademark</h1>-->
<!--                <form th:action="@{/trademark/add}" method="post">-->
<!--                    <input type="text" name="name" placeholder="enter trademark" class="form-control"><br>-->
<!--                    <button th:type="submit" class="btn btn-success">Add trademark</button>-->
<!--                </form>-->
<!--                <br><br>-->
<!--                <h1>Add appointments</h1>-->
<!--                <form th:action="@{/appointments/add}" method="post">-->
<!--                    <input type="text" name="name" placeholder="enter appointments" class="form-control"><br>-->
<!--                    <button th:type="submit" class="btn btn-success">Add appointments</button>-->
<!--                </form>-->
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
        integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
        integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
        crossorigin="anonymous"></script>
</body>
</html>